*{
  margin-bottom:35px;
}

.hero-tags{
  display:flex;
  flex-wrap:wrap;
  gap:14px;
  margin-bottom:40px;
}

.hero-tags span{
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.08);
  padding:12px 18px;
  border-radius:999px;
  backdrop-filter:blur(10px);
  transition:0.3s;
}

.hero-tags span:hover{
  transform:translateY(-5px);
}

.hero-buttons{
  display:flex;
  gap:20px;
}

.primary-btn,
.secondary-btn{
  padding:15px 28px;
  border-radius:16px;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}

.primary-btn{
  background:#7dd3fc;
  color:black;
}

.secondary-btn{
  border:1px solid rgba(255,255,255,0.1);
  color:white;
}

.primary-btn:hover,
.secondary-btn:hover{
  transform:translateY(-5px);
}

.hero-right{
  display:flex;
  flex-direction:column;
  gap:30px;
}

.hero-card,
.stat-card,
.project-card,
.skill-box,
.timeline-content{
  background:rgba(255,255,255,0.04);
